//toppage
$theme: #299eac;
$back:#FBFAF7;

$serch-box:#fff;


$student-plan:#fff;
$pic-border:#299eac;
$planpic-back: rgba(0,0,0,0.3);
$prefecture:#299eac;
$faculity:#299eac;
$admission_process:#299eac;
$tdfont:#fff;

$moto-kuwashiku:rgba(255,215,0,0.7);
//https://www.colordic.org/
//rgba ４番目の数字が透明度

//register-barのcolorは現状$theme
