.content
%ul#footer_list
  %br.g_sp_hidden/
  %li.link
    %a{href: ""} ログイン
  %li.link
    %a.link{href: ""} お役立ちコンテンツ
  %li.link
    %a.link{href: ""} 利用規約
  %li.link
    %a.link{href: ""} プライバシーポリシー
  %li.link
    %a.link{href: ""} よくある質問
  %li.link
    %a.link{href: ""} お問い合わせ
  %li.link
    %a.link{href: ""} 運営会社
#copy_right © Web Campus. All Rights Reserved.