%header#header
  .content
    .logo-name
      %a{href: ""}
        Web Campus
        //%img{src: "", alt: "Logo", id: "logo"}
    .fb_login_btn
      = link_to"ログインはこちら"
    .for_enterprise_btn
      = link_to"学校関係者はこちら"