%header#header
  .content
    .logo-name
      %a{href: ""}
        Web Campus
        //%img{src: "", alt: "Logo", id: "logo"}
    .fb_login_btn
      = link_to"無料登録/ログインはこちら",new_user_registration_path
    .for_enterprise_btn
      = link_to"学校関係者はこちら"