%header#header
  .content
    .logo-name
      %a{href: ""}
        Web Campus
        //%img{src: "", alt: "Logo", id: "logo"}
    .fb_login_btn
      %a{href: ""}
        Facebookで無料登録/ログイン
    .for_enterprise_btn
      %a{href: ""}
        学校関係者ははこちら