.box
  .msg サービスについてのご紹介、使い方はこちらから！
  .btns.table
    .cell
      = link_to"学校の話を聞きたい人はこちら",new_user_registration_path
    .cell
      = link_to"話を教えたい人はこちら",new_student_registration_path
//上記hrefリンクにsign-up用のリンクを貼る
