#footer {
  background-color: $theme;
  padding: 8px 0 7px;
  //position: absolute; 削除した
  width:100%;
  .content {
    max-width: 900px;
    min-width: 0;
    margin: 0 auto;
  }
  ul#footer_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li.link {
    display: inline-block;
    padding-right: 10px;
      a {
        display: inline-block;
        position: relative;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        padding: 6px;
      }
    }
  }
  #copy_right {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}