#register_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  padding: 5px 0 0;
  border-top: 1px solid #ddd;
  z-index: 10000;
  .box {
    max-width: 900px;
    margin: 0 auto;
    .msg {
      padding: 1px 0;
      line-height: 1;
    }
    .g_table {
      display: table;
      width: 100%;
    }
      .g_cell {
        width: 50%;
        padding: 5px 5px 10px 10px;
        display: table-cell;
        vertical-align: middle;
        .btn {
          color: #fff;
          font-weight: 300;
          width: 100%;
          padding: 15px 0;
        }
        .user {
          background-color: $theme;
        }
        a.user::before {
          content: "学校の話を聞きたい人はこちら";
        }
        a.user::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          background-color:rgba(255,255,255,0);
        }
        .student {
          background-color:$theme;
        }
        a.student::before {
          content: "学生はこちら";
        }
        a.student::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          background-color:rgba(255,255,255,0);
        }
      }
  }
}
