.student_search_box {
  padding: 0px 5px 0px;
  background-color:$serch-box;
  box-shadow: 0px 0px 3px 1px rgba(0,0,120,0.1);
  //http://webnonotes.com/css/box-shadow/
  //box-shadow:横方向 縦方向 (ぼかし) (広がり) (影の色) (影の向き);
  //ぼかしと広がりを入れてる
  overflow: hidden;
  .g_form_row{
    margin: 0 10px 15px;
    margin-bottom: 10px;
    fieldset {
      padding: 15px;
      padding-top: 8px;
      border-radius: 5px;
      margin: 7px 0 0 0;
      border-color: #dadada;
      legend{
        display: block;
        line-height: inherit;
        font-size: 16px;
        padding: 0px 10px;
        border: none;
        color: #333;
        i {
          margin-left: 5px;
          margin-right: 10px;
        }
      }
      .sp_label {
        display: none;
      }
      .g_content {
        display: block !important;
        input[type=text],{
          width: 100%;
          display: block;
          height: 34px;
          //padding: 6px 12px; なんか合わない
          padding-left:5px; //代わりにこれ
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #dadada;
          border-radius: 4px;
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
      }
    }
  }
  //学校名の検索
  .g_form_row {
    .g_custom_check_box.normal {
      margin-bottom: -8px;
      .g_custom_check{
        display: none;
        //inputformのclass。これで通常のボタンを隠す
        margin: 0;
      }
      .g_custom_check + label {
          padding: 0 0 0 24px;
          position: relative;
          display: inline-block;
          margin-right: 12px;
          font-size: 14px;
          cursor: pointer;
          font-weight: 300;
        margin-bottom: 10px;
      }
      .g_custom_check + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -10px;
        background-color: white;
        border: 2px solid #dadada;
      }
      .g_custom_check:checked + label::after {
        content: "";
        //content:""入れたらcheckes認識した！
        position: absolute;
        top: 50%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        left: 3px;
        width: 16px;
        height: 8px;
        margin-top: -8px;
        border-left: 3px solid $theme;
        border-bottom: 3px solid $theme;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
  //検索欄はここまで
  .g_form_row {
    .submit_btn {
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid $theme;
      color: $theme;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      height: 45px;
      letter-spacing: 15px;
      margin: 5px 0;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }
  }
}