@mixin header-btn () {
  a{
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    //テキストに下線・上線・打ち消し線を付けたり、点滅させる際に使用する
    //a要素だから歌下線ついているのを打ち消す
    //http://www.htmq.com/style/text-decoration.shtml
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 0px 20px;
    position: relative;
    overflow: hidden;
    //はみ出た部分は表示しない
    //http://cra.jp/blog/skill/1503_skill_overflow/
    }
  }
